@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

body {
  font-family: 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';
}

@winter-grey: #515768;
@white: #fff;

//=== Common ==============================
.bg.winter-grey {
  background-color: @winter-grey;
}

.white {
  color: @white;
}

.no-text-decoration {
  text-decoration: none;
}

body {
  margin: 0;
}

.fsmall {
  font-size: 0.9em;
}

.flarge {
  font-size: 3em;
}

//==== Common Pos ==========================
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.float-left {
  float: left;
}

.float-right {
  float: right
}

//==== Common shape ========================
.full-width {
  width: 100%;
}



//==== Nav =================================
.nav {
  margin-top: 10px;
  height: 40px;
}