<header class="header">
  <div class="container">
    <nav class="nav">
      <a href="#features">Features</a>
      <a href="#faq">FAQ</a>
      <a href="#signup" class="round">Sign up</a>
      <a href="login" class="round">Log in</a>
    </nav>
    <h1>Find the best online store to shop</h1>
    <h2>Compare prices and read store reviews<br/>
      by real customers, compare products.</h2>
  </div>

  <a class="screenshot">
    <img src="#" alt="screenshot" />
  </a>
</header>

<section id="signup" class="signup">
  <div class="signup">
    <p>
    Fill in the form below, and we'll get in touch.
    </p>
    <form action="/sales" method="post" acceptcharset="utf8">
      <input type="text" name="name" id="name" value="" placeholder="Name"/>
      <input type="email" name="email" value="" placeholder="Email"/>
      <button type="submit" class="">Request A DEMO</button>
    </form>
  </div>
</section>